.padding-body {
	padding: 10px !important;
}
#tipe_pekerja_pob,
#status_digital_passport {
	width: 100%;
	height: 320px;
}

#status_pekerjaan,
#status_sika,
#status_wip
{
	width: 100%;
	height: 350px;
}

#jumlah_pekerjaan_tahun_ini {
	margin: 10px auto;
	width: 100%;
	height: 384px;
}
.head-title{
	font-size: 1.5rem !important;
	font-weight: 500!important;
}
.popover {
	max-width: 40%;
}