.form-group label {
	font-size: 1.15rem;
	font-weight: 400;
}
.form-control {
	font-size: 1.15rem;
}
.kt-badge.kt-badge--inline {
	padding: 1.2rem 1rem;
	margin-top: 7px;
	width: 750px;
	font-size: 1rem;
}
.kt-badge {
	justify-content: right;
}

.kt-badge i {
	position: absolute;
	left: 88%;
}
.fa-times:hover {
	color: #da1717;
	font-size: 1.2rem;
}
small {
	color: red;
}
.ahli-teknik .row {
	margin-bottom: 1rem;
}

.kt-badge.kt-badge--dark {
	color: #1e1e2d;
	background: transparent;
	border-bottom: .5px solid #d5d8e2;
}