
/*.kt-aside-menu, .kt-aside {
background-color: #D70B0D;
}
.kt-aside__brand {
background-color: #b70a0a;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link {
background-color: #a10c0c;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item.kt-menu__item--active > .kt-menu__link .kt-menu__link-icon {
color: #ffffff;
}
.kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"] {
color: #ffffff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
color: #ffffff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-icon {
color: #ffffff;
}
.kt-aside .kt-aside-menu > .kt-menu__nav .kt-menu__item > .kt-menu__link:not(.kt-menu__link--active):not(.kt-menu__link--here):not(.kt-menu__link--hover) [class*=" flaticon2-"] {
color: #ffffff;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-text {
color: #ffffff;
}*/
div.dataTables_wrapper div.dataTables_filter input {
	width: 255px;
}

i {
	margin-right: 1px;
}
.btn-danger {
	color: white !important;
}
.user-name {
	margin-top: 12px;
	widows: inherit;
}
.user-name p {
	font-size: 1.16rem;
	display: inline;
}
.user-name span {
	font-weight: 600;
}
#btn_log_out {
	margin-left: 10px;
	font-size: .9rem;
}
.kt-radio-inline .kt-radio {
	margin-right:80px;
}
.head_blue {
	background-color: #0191DB;
}
.head_green {
	background-color: #85C226;
}
.head_red {
	background-color: #D8251C;
}
.nav-pills .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
	font-size: 1.1rem;
}
.dataTables_wrapper .dataTable th {
	background-color: #F5F5F5;
}
tr th {
	font-size: 1.1rem;
}
tr td {
	font-size: 1.1rem;
}

.card_informasi {
	background: #0191db;
	border-radius: 20px;
	color: white;
}

.card-red {
	background: #d8251c;
}

.card-green {
	background: #85c226;
}

.judul_pekerjaan {
	font-size: 1.5rem;
}

.isi_informasi {
	font-size:3rem;
}
/*admin depot*/
.nav-pills .nav-item .nav-link:active, 
.nav-pills .nav-item .nav-link.active, 
.nav-pills .nav-item .nav-link.active:hover {	
	background-color: #a10c0c;;
	color: #ffffff;
}

.btn-preview {
	width: 100%;
	color: white !important;
}

#button_preview_ktp,
#button_preview_mcu,
#button_preview_foto,
#button_preview_tes_narkoba,
#button_preview_sim,
#button_preview_sertifikasi,
#button_preview_pengalaman_kerja {
	color: black;
}
#tbl_list_nilai_12_slr_info,
#tbl_list_nilai_12_slr_length,
#tbl_list_nilai_12_slr_paginate {
	display: none;
}
.vl {
	border-left: 2px solid #E0E0E0;
	height: 100%;
	position: absolute;
	left: 50%;
	margin-left: -3px;
	top: 0;
}
.modal-content {
	width: 50vw;
}
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:active, .nav-tabs .nav-item .nav-link:hover {
	color: #484848;
	font-weight: 500;
}
.nav-tabs .nav-item .nav-link {
	color: #484848;
}
/*end: admin depot*/

/*Begin:; Publik*/
#jumlah {
	width: 100%;
	height: 450px;
}
#kategori_pekerja {
	width: 100%;
	height: 300px;
}
#induksi_12_slr {
	width: 100%;
	height: 300px;
}
polyline,
{
	display: none;
}
/*End : Publik*/

/*Begin: Ahli Teknik*/
.nav-tabs .nav-item .nav-link.active, .nav-tabs .nav-item .nav-link:active, .nav-tabs .nav-item .nav-link:hover {
	color: #333333;
	font-weight: 600;
}
.nav-tabs .nav-item .nav-link {
	color: #333333;
}
.nav-pills .nav-item .nav-link, .nav-tabs .nav-item .nav-link {
	font-size: 1.25rem;
}
.margin-atas {
	margin-top: 40px !important;
}
.verifikasi_data .bag {
	margin-bottom: 15px;
}
.input-berkas {
	margin-bottom: 15px;
}
.validasi_check {
	pointer-events: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
	color: #ffffff;
	background: #5275bb;
	border: 1px solid #ffffff;
	padding: 5px 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered .select2-selection__choice .select2-selection__choice__remove {
	color: white !important;
}
.bold-status,
.bold-status:hover {
	background-color: rgba(15, 181, 230, 0.1) !important;
	color: rgb(15, 181, 230) !important;
}

.dark-status,
.dark-status:hover {
	background-color: rgba(226, 228, 64, 0.55) !important;
	color: #979828 !important;
}

.dark-blue,
.dark-blue:hover {
	background-color: rgba(58, 43, 183, 0.28) !important;
	color: #0f1a7b !important;
}

.done-status,
.done-status:hover {
	background-color: rgba(10, 187, 135, 0.38) !important;
	color: #31a583 !important;
}
.btn_hapus {
	width: 100%;
}

.required_sign {
	color: red !important;
}

.divider{
	border-right: 3px dashed #717171;
	height: auto;
}

td.details-control {
	background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_open.png') no-repeat center center;
	cursor: pointer;
}
tr.shown td.details-control {
	background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_close.png') no-repeat center center;
}
/*End: Ahli Teknik*/
@media (min-width: 1025px){
	.kt-aside--minimize .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link > .kt-menu__link-icon {
		color: #ffffff;
	}

@media screen and (min-width: 576px){
	.divider-border-right {
		border-right: 1px solid #6c7293;
	}
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.btn.btn-label-not-so-danger {
	background-color: rgba(226, 169, 0, 0.1);
    color: #e05b2b;
    cursor: text !important;
}

 .btn.btn-label-not-so-danger-o2 {
	background-color: rgba(226, 169, 0, 0.1);
	color: #e05b2b;
	cursor: text !important; }

 .btn.btn-label-not-so-brand {
	background-color: rgba(162, 162, 162, 0.1);
    color: #747a94;
    cursor: text !important;
}

 .spacer-dashed {
	margin-top: 3.5rem;
	border-top: 0.1rem dashed #babfcc;
	padding-top: 1rem;
}

 .border-bold {
	border: 1px solid #b8bccc;
}

 .btn-xsm {
	padding: 0.4rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.custom-label {
	margin:2px 0px;
	display:flex;
	justify-content:space-between;
}

.overflow-text {
	overflow:hidden;
	display:inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.divider {
    border-right: 3px dashed #717171;
    height: auto;
}

.disable-card {
    background-color: #b7b7b7!important;
    pointer-events: none;
}

.kt-checkbox > input:disabled {

  	cursor: default;
}